<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"parallel="tests">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="Selenium.TestNg.Question5.xml.FindByTestsXml">
                <methods>
                    <include name="login"/>
                    <include name="test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>